<md-card class="edit-page" ng-if="vm.load">
	<h2>Edit User</h2><br>
	<form name="editUser">
		<md-input-container class="md-block">
			<label>Name</label>
			<input label="name" name="name" type="text" ng-model="vm.user.name" value="{{vm.user.name}}" required/>
			<div ng-messages="editUser.name.$error" md-auto-hide="false" ng-show="editUser.name.$touched">
				<div ng-message when="required"><span translate>Please enter username.</span></div>
			</div>
		</md-input-container>
		<md-input-container class="md-block">
			<label>Email</label>
			<input label="email" name="email" type="email" ng-model="vm.user.email" required/>
			<div ng-messages="editUser.email.$error" md-auto-hide="false" ng-show="editUser.email.$touched">
				<div ng-message when="required"><span translate>Please enter email address.</span></div>
				<div ng-message when="email"><span translate>Please enter a valid email address.</span></div>
			</div>
		</md-input-container>
		 <md-input-container class="md-block">
            <label>Group</label>
           	<div ng-controller="LoadGroupSelectController as loadGroupCtrl">
				<md-select ng-model="vm.user.group">
					<md-option ng-value="group" ng-repeat="group in loadGroupCtrl.groups">{{group}}</md-option>
				</md-select>
			</div>
        </md-input-container>
		<md-input-container class="md-block">
			<label>new Password</label>
			<input label="newPassword" name="newPassword" type="password" minlength="8" ng-model="vm.newPassword"/>
			<div ng-messages="editUser.newPassword.$error" md-auto-hide="false" ng-show="editUser.newPassword.$touched">
				<div ng-message when="minlength"><span translate>This field can be at least 8 characters long.</span></div> 
			</div>
		</md-input-container>
		<md-input-container class="md-block">
			<label>Password-Confirm</label>
			<input label="confirm" name="confirm" type="password" ng-model="vm.confirm"/>
			<div class="error-msg" ng-show="editUser.confirm.$dirty && vm.checkValid()">
            	<span>Passwords don't match.</span>
            </div>
		</md-input-container>
		<div layout="row" layout-align="space-between start"
			ng-controller="AvatarUploadController as AvatarUploadCtrl">
			<div class="user-ava"><img ng-src="{{AvatarUploadCtrl.avatar.url || vm.user.avatar.url}}" alt=""></div>
			<md-button class="md-primary md-raised" ng-model="vm.file" ngf-accept="'image/*'" ngf-select="AvatarUploadCtrl.uploadFile($file)" ng-disabled="AvatarUploadCtrl.status == 'uploading'" aria-label="upload">{{vm.user.avatar.url ? 'change avatar' : 'set avatar'}}
				<md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': AvatarUploadCtrl.status == 'idle', 'fa fa-spinner fa-pulse': AvatarUploadCtrl.status == 'uploading', 'zmdi zmdi-check': AvatarUploadCtrl.status == 'complete'}"></md-icon>
			</md-button>
		</div>
		<div layout="row" layout-align="end center">
			<md-button class="md-primary" ng-disabled="editUser.$invalid || vm.checkValid() || editUser.$pristine" ng-click="vm.editUser()">update</md-button>
			<md-button ui-sref="triangular.users">cancel</md-button>
		</div>
	</form>
</md-card>